version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    reviewers:
      - "codebush-collective"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
